@font-face {
    font-family: OpenSans-Light;
    src: url('OpenSans-Light.ttf');
}

.text {
    -fx-font-family: OpenSans-Light;
}

#page-title {
	-fx-font-size: 20pt;
}

#page-container{
	-fx-padding: 0 10 0 10;
}

#loading-image{
	-fx-background-color: red;
	-fx-background-repeat: no-repeat;
  	-fx-background-size: 25px 25px;
  	  	-fx-min-height: 40;
  	-fx-min-width: 40;
  	-fx-max-height: 40;
  	-fx-max-width: 40;	
}