@font-face {
    font-family: OpenSans-Light;
    src: url('OpenSans-Light.ttf');
}

.text {
    -fx-font-family: OpenSans-Light;
}

#page-title {
	-fx-font-size: 20pt;
}

#page-container{
	-fx-padding: 0 10 10 10;
}